# Ignore node_modules (for the frontend)
client/node_modules
client/node_modules/*
client/.next
client/.next/*


# Ignore vendor (for the backend)
server/vendor
server/vendor/*
server/.env
server/node_modules 
server/node_modules/*
.gitignore




# Ignore environment files

# Ignore Docker files
docker-compose.override.yml

# Ignore IDE/editor files
*.swp
*.swo
.idea
.vscode
.env
