# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
hair-salon-frontend-serori/node_modules
hair-salon-frontend-serori/.pnp
hair-salon-frontend-serori/.pnp.js
hair-salon-frontend-serori/.yarn/install-state.gz

# testing
hair-salon-frontend-serori/coverage

# next.js
hair-salon-frontend-serori/.next/
hair-salon-frontend-serori/out/

# production
hair-salon-frontend-serori//build

# misc
hair-salon-frontend-serori/.DS_Store
hair-salon-frontend-serori/*.pem

# debug
hair-salon-frontend-serori/npm-debug.log*
hair-salon-frontend-serori/yarn-debug.log*
hair-salon-frontend-serori/yarn-error.log*

# local env files
hair-salon-frontend-serori/.env*.local

# vercel
hair-salon-frontend-serori/.vercel

# typescript
hair-salon-frontend-serori/*.tsbuildinfo
hair-salon-frontend-serori/next-env.d.ts


/db
