client/node_modules
client/.next/
client//build
client/.DS_Store
# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.env
client/.env.example
client/next-env.d.ts

db
db/*
.vscode
.env
.env.local

server/.phpunit.cache
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/vendor/*
server/vendor
server/.env
server/.env.example

docker-compose.yml
